/*
|--------------------------------------------------------------------------
| Button Default
|--------------------------------------------------------------------------
*/
.el-button {
  //border-radius: 20px;
  border-radius: 5px;
  min-width: 140px;
  margin: 5px 2px;
  vertical-align: middle;

  font-weight: 600;
  font-size: 12;
  box-sizing: border-box;
  border-width: 2px;
}
.el-button {

  &.el-button--default {
    background-color: transparent;
    border-color: #000;
    color: #000;

    &.is-disabled {
      color: #b4bccc !important;
      cursor: not-allowed !important;
      background-image: none !important;
      background-color: #fff !important;
      border-color: #e6ebf5 !important;
    }
  }

  &.el-button--primary {
    background-color: #eef1f7;
    border-color: #eef1f7;
    color: #fff;
  }

  &.el-button--details {
    background-color: rgb(35, 35, 104);
    border-color: #eef1f7;
    color: #fff;
  }
}
  
.plyr--full-ui input[type=range] {
  color: red!important;
  width: 140x!important;
  height: 50px!important;
  border-radius: 5px!important;
}

.plyr__control--overlaid {
  background: rgba(red, .9)!important;
  width: 140x!important;
  height: 50px!important;
  border-radius: 5px!important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: red!important;
  width: 140x!important;
  height: 50px!important;
  border-radius: 5px!important;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(red, .9)!important;
  width: 140x!important;
  height: 50px!important;
  border-radius: 5px!important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: red!important;
  width: 140x!important;
  height: 50px!important;
  border-radius: 5px!important;
}
