<template>
    <div class="verify">
        <h1>{{$t('verify.1')}}</h1>
        <p>
            {{$t('verify.2')}}
        </p>

        {{$t('verify.3')}} <router-link class="text-primary" :to="{name: 'Contact'}">{{$t('footer.contact')}}.</router-link>
    </div>
</template>

<script>
    export default {
        name: "GoogleCallback",
    }

</script>

<style scoped>
.verify {
    padding: 10px;
    color: #ffffff;
    background-color: rgb(35, 35, 104);
    height: 100vh;
}

@media only screen and (min-width: 800px) {
    .verify {
        padding: 100px;
        color: #ffffff;
        background-color: rgb(35, 35, 104);
        height: 100vh;
    }

}
</style>
