<template>
    <div>
        <section id="login" class="why-us-google text-center">
            <div class="signup-form bg-white">
                <form method="post" @submit.prevent="login">
                    <h3 class="text-uppercase text-center text-dark my-3">{{$t('auth.student.getStarted')}}</h3>
                    <h2>{{$t('auth.signIn')}}</h2>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            v-if="errorMessage">
                        <strong>Error!</strong> {{errorMessage}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control form-control-lg md-outline" name="email"
                                placeholder="Email"
                                required="required" v-model="email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i
                                class="fa fa-envelope"/></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg" name="password"
                                :placeholder="$t('auth.password')"
                                required="required" v-model="password" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon"><i
                                class="fa fa-lock"/></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-lg btn-block ">
                            <span v-if="!authLoading">{{$t('auth.signIn')}} </span>
                            <div class="text-center text-white" v-if="authLoading">
                                <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"/>
                                Loading...
                            </div>
                        </button>
                    </div>
                </form>
                <div>
                    <p class="font weight-bold text-center text-primary">
                        <router-link :to="{name: 'ResetPassword'}">
                            {{$t('auth.forget')}}
                        </router-link><br/>
                        <router-link :to="{name: 'Register'}"> {{$t('auth.new_user')}} {{$t('auth.signup')}}</router-link>
                    </p>
                    <div class="text-center"><!-- {{$t('auth.new')}}
                        <router-link :to="{name: 'Register'}">{{$t('auth.signup')}}</router-link> -->

                        <h2>{{$t("auth.or")}}</h2>
                        <g-signin-button
                            class="btn btn-lg btn-google btn-block text-uppercase"
                            :params="googleSignInParams"
                            @success="ongSignInSuccess"
                            @error="ongSignInError">
                            <i class="fa fa-google mr-2"></i> {{$t('auth.continueWith')}} Google
                        </g-signin-button>
                        <fb-signin-button
                            class="btn btn-lg btn-github btn-block text-uppercase"
                            :params="fbSignInParams"
                            @success="onSignInSuccess"
                            @error="onSignInError">
                            <i class="fa fa-facebook-f text-white mr-2"></i> {{$t('auth.continueWith')}} Facebook
                        </fb-signin-button>
                    </div>
                </div>
            </div>
        </section>
    </div>

</template>

<script>
    import {mapGetters} from 'vuex'

    export default {

        name: "Login",

        data() {
            return {
                email: '',
                password: '',
                errorMessage: '',
                googleSignInParams: {
                    client_id: '5466659184-s2qvgg7uq9n94pjstr4duh8dg7ha7lbn.apps.googleusercontent.com'  
                },
                fbSignInParams: {
                    scope: 'email',
                    return_scopes: true
                },
                options: { quality: { default: '1080p' } }
            }
        },
        methods: {
            login() {
                let email = this.email;
                let password = this.password;
                this.$store.dispatch('login', {email, password})
                    .then(res => {
                        console.log(this.$route.query.redirect);
                        if (this.$route.query.redirect) {
                            let r = this.$router.resolve({path: this.$route.query.redirect});
                            window.location.assign(r.href)
                        }
                        if (res.data.user.roles[0].name === "student" || res.data.user.roles[0].name === "teacher") {
                            console.log('student profile no redirect')
                            let r = this.$router.resolve({name: 'StudentProfile'});
                            window.location.assign(r.href)
                        } else {
                            this.errorMessage = "Please verify your Email address or password and try again"
                        }
                    })
                    .catch(err => {
                        console.log(err.response.data);
                        this.errorMessage = err.response.data.message
                        err.response.data.message === "email unverified" ? this.$router.push({name: 'Email'}) :
                            this.errorMessage = "Please verify your Email address or password and try again";
                    })
            },
            authLogin(provider) {
                this.$store.dispatch('socialStudentAuth', provider)
                    .then((res) => {
                        if (res.data.url) {
                            let r = this.$router.resolve({name: 'StudentProfile'});
                            window.location.assign(r.href)
                        }
                    })
                    .catch(err => console.log(err))
            },
            ongSignInSuccess (googleUser) {
                const profile = googleUser.getBasicProfile() // etc etc
                console.log(profile.getEmail());
                let payload = {
                    'name': profile.getName(),
                    'email': profile.getEmail(),
                    'role': 'student'
                };
                this.handleSocial(payload);
            },
            ongSignInError (error) {
                this.loginErrors = "Error occured durring facebook login."
                console.log('OH NOES', error)
            },
            onSignInSuccess (response) {
                const _this = this;

                FB.api('/me?fields=email,name', dude => {
                    let payload = {
                        'name': dude.name,
                        'email': dude.email,
                        'role': 'student'
                    };
                    _this.handleSocial(payload);
                })
            },
            onSignInError (error) {
                this.loginErrors = "Error occured durring facebook login."
                console.log('OH NOES', error)
            },
            handleSocial(payload) {
                this.$store.dispatch('handleTeacherSocial', payload)
                .then(res => {
                    if (res.data != null) {
                        let r = this.$router.resolve({name: 'StudentProfile'});
                        window.location.assign(r.href)
                    }
                })
                .catch(err => console.log(err))
            }
        },
        computed: {
            ...mapGetters(["authLoading"]),
            videoPath() {
                return this.$i18n.locale === "en" ? '/medias/studenten.mp4' : '/medias/studentfr.mp4'
            }
        },
        mounted() {
            if(this.$route.query != null && this.$route.query.redirect != null) {
                this.$scrollTo('#login', 200, {})
            }
        } 
    }
</script>

<style scoped>
    .hero {
        /*background-image: url('../../assets/images/demand/online.jpg');*/
        background: linear-gradient(rgba(19, 19, 19, 0), rgba(19, 19, 19, 0)), url('../../assets/images/auth/hero.jpg') no-repeat center center;
        height: 55vh;
        background-size: cover;
        border-bottom: 15px solid #3081FB;
        color: white;
    }

    .signup-form {
        margin: 0 auto;
        margin-bottom: 15px;
        background: #ffffff;
        border: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 5%;
        padding: 5px;
        width: 100%;
    }

    .signup-form h2 {
        color: #636363;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
    }

    .signup-form h2:before, .signup-form h2:after {
        content: "";
        height: 2px;
        width: 30%;
        background: #000;
        position: absolute;
        top: 50%;
        z-index: 2;
    }

    .signup-form h2:before {
        left: 0;
    }

    .signup-form h2:after {
        right: 0;
    }

    .signup-form .hint-text {
        color: #000;
        margin-bottom: 30px;
        text-align: center;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .fb-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 4px 8px;
        border-radius: 3px;
        background-color: #4267b2;
        color: #fff;
    }

    .g-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 4px 8px;
        border-radius: 3px;
        background-color: #3c82f7;
        color: #fff;
        box-shadow: 0 3px 0 #0f69ff;
    }

    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        min-width: 140px;
        outline: none !important;
    }

    .signup-form .row div:first-child {
        padding-right: 10px;
    }


    .signup-form a:hover {
        text-decoration: none;
    }


    .signup-form form a:hover {
        text-decoration: underline;
    }

    .btn-google {
        color: white;
        background-color: #ea4335
    }

    .btn-github {
        color: white;
        background: #4267B2;
    }

    .btn-github a {
        color: white;
    }

    .btn-google a {
        color: white;
    }

    .md-form.md-outline label.active {
        background: #eeeeef;
    }

    input {
        border: 2px solid black !important;
        background: transparent;
    }

    .input-group-text {
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0px;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
        white-space: nowrap;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        margin-left: -40px;
        z-index: 1;
    }

    @media (max-width: 600px) {
        .hero {
            /*background-image: url('../../assets/images/demand/online.jpg');*/
            background: linear-gradient(rgba(19, 19, 19, 0), rgba(19, 19, 19, 0)), url('../../assets/images/auth/hero.jpg') no-repeat center center;
            height: 30vh;
            background-size: cover;
            border-bottom: 15px solid #3081FB;
            color: white;
        }
    }

    .text-home-slogan {
        display: none;
    }

    .why-us-section {
        background-color: #ffffff;
        padding: 10px;
        width: 100%;
    }

    .why-us-google {
        background-color: rgb(35, 35, 104);
        padding: 5px;
        color:#fff;
    }

    .why-economie {
        background-color: rgb(35, 35, 104);
        padding: 10px;
        color: #ffffff;
    }

    .why-economie-img {
        background: linear-gradient(rgba(19, 19, 19, 0), rgba(19, 19, 19, 0)), url('../../assets/images/student-profile1.jpg') no-repeat center center;
        height: 50vh;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(245, 116, 116, 0.2), 0 6px 20px 0 rgba(150, 3, 3, 0.19);
    }

    .why-time {
        background-color: #ffffff;
        padding: 10px;
    }

    .why-time-img {
        background: linear-gradient(rgba(19, 19, 19, 0), rgba(19, 19, 19, 0)), url('../../assets/images/student-profile2.png') no-repeat center center;
        height: 50vh;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .text-header {
        font-family: 'Helvetica';
        font-size: 30px;
        font-weight: bold;
    }

    .text-header-title {
        font-family: 'Helvetica';
        font-size: 30px;
        font-weight: bold;
        color:rgb(35, 35, 104);
    }

    .text-header-body {
        font-family: 'Helvetica';
        font-size: 18px;
    }

    @media (min-width: 700px) {
        .signup-form {
            margin: 0 auto;
            margin-bottom: 15px;
            background: #ffffff;
            border: 2px solid black;
            border-bottom: 2px solid black;
            border-radius: 5%;
            padding: 20px;
            width: 45%;
        }

        .why-us-section {
            background-color: #ffffff;
            padding: 50px;
            width: 100%;
        }

        .why-economie {
            background-color: rgb(35, 35, 104);;
            padding: 50px;
            color: #ffffff;
        }

        .why-us-google {
            background-color: rgb(35, 35, 104);
            padding: 50px;
            color:#fff;
        }

        .text-home-slogan {
            display: block;
            float: right;
            margin-top: 100px;
            margin-left: 30px;
            font-weight: 600;
        }

        .text-header {
            font-family: 'Helvetica';
            font-size: 35px;
            font-weight: bold;
        }
        .text-header-title {
            font-family: 'Helvetica';
            font-size: 35px;
            font-weight: bold;
            color:rgb(35, 35, 104);
        }

        .text-header-body {
            font-family: 'Helvetica';
            font-size:20px;
        }

        .why-time {
            background-color: #ffffff;
            padding: 50px;
        }
    }
</style>
