<template>
    <div >
        <h1 class="text-center">All Ratings</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Teacher name</th>
                <th scope="col">Student name</th>
                <th scope="col">Rating</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="t in allRatings">
                    <th scope="row">{{t.id}}</th>
                    <td>teacher</td>
                    <td>{{t.user.first_name}} {{t.user.last_name}}</td>
                    <td>{{t.rate}}</td>
                    <td>{{t.review}}</td>
                    <td>{{t.created_at.slice(0,10)}}</td>
                    <td>
                        <el-button type="primary" @click="handleApprove(t.id)">Approve</el-button>
                        <el-button type="danger" @click="handleDelete(t.id)">Ignore</el-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Ratings",
        methods: {
            ...mapActions(["fetchRatings", "saveRating", "deleteRating"]),
            handleApprove(id) {
                this.saveRating(id).then(() => {
                    this.fetchRatings();
                })
            },
            handleDelete(id) {
                this.deleteRating(id).then(() => {
                    this.fetchRatings();
                })
            }
        },
        computed: mapGetters(["allRatings"]),
        created() {
            this.fetchRatings();
        }
    }
</script>

<style scoped>

</style>
