<template>
    <div class="container-fluide">
        <section id="login" class="why-us-google text-center">
                    <div class="signup-form bg-white">
                        <form method="post" @submit.prevent="login">
                            <h4 class="text-uppercase text-center text-dark mt-3">{{$t('auth.become.getStarted')}}</h4>
                            <h2>{{$t('auth.signIn')}}</h2>
                            <!-- <p class="hint-text">{{$t('auth.become.login')}}
                            </p> -->
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 v-if="errorMessage">
                                <strong>Error!</strong> {{errorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control form-control-lg md-outline" name="email"
                                       placeholder="Email"
                                       required="required" v-model="email" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i
                                        class="fa fa-envelope"/></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control form-control-lg" name="password"
                                       :placeholder="$t('auth.password')"
                                       required="required" v-model="password" aria-describedby="basic-addon">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon"><i
                                        class="fa fa-lock"/></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-dark btn-lg btn-block ">
                                    <span v-if="!authLoading">{{$t('auth.signIn')}}</span>
                                    <div class="text-center text-white" v-if="authLoading">
                                        <span class="spinner-border spinner-border-sm" role="staitus"
                                              aria-hidden="true"/>
                                        Loading...
                                    </div>
                                </button>
                            </div>
                        </form>
                        <div>
                            <p class="font weight-bold text-center text-primary">
                                <router-link :to="{name: 'ResetPassword'}">
                                    {{$t('auth.forget')}}
                                </router-link><br/>
                                <router-link :to="{name: 'Become'}">{{$t('auth.new_user')}} {{$t('auth.signup')}}</router-link>
                            </p>
                            <div class="text-center"><!-- {{$t('auth.new')}}
                                <router-link :to="{name: 'Become'}">{{$t('auth.signup')}}</router-link> -->
                            </div>
                            <h2>{{$t("auth.or")}}</h2>
                            <g-signin-button
                                class="btn btn-lg btn-google btn-block text-uppercase"
                                :params="googleSignInParams"
                                @success="ongSignInSuccess"
                                @error="ongSignInError">
                                <i class="fa fa-google mr-2"></i> {{$t('auth.continueWith')}} Google
                            </g-signin-button>
                            <fb-signin-button
                                class="btn btn-lg btn-github btn-block text-uppercase"
                                :params="fbSignInParams"
                                @success="onSignInSuccess"
                                @error="onSignInError">
                                <i class="fa fa-facebook-f text-white mr-2"></i> {{$t('auth.continueWith')}} Facebook
                            </fb-signin-button>
                        </div>
                    </div>
        </section>
    </div>

</template>

<script>
    import {mapGetters} from 'vuex'
    import myVideo from 'vue-video'

    export default {

        name: "Login",
        components: {
            myVideo
        },
        data() {
            return {
                email: '',
                password: '',
                errorMessage: '',
                googleSignInParams: {
                    client_id: '5466659184-s2qvgg7uq9n94pjstr4duh8dg7ha7lbn.apps.googleusercontent.com'  
                },
                fbSignInParams: {
                    scope: 'email',
                    return_scopes: true
                },
                options: { quality: { default: '1080p' } }
            }
        },
        methods: {
            login() {
                let email = this.email;
                let password = this.password;
                this.$store.dispatch('login', {email, password})
                    .then(res => {
                        if (this.$route.query.redirect) {
                            let r = this.$router.resolve({path: this.$route.query.redirect});
                            window.location.assign(r.href)
                        }
                        if(res.data.user.roles[0].name === "teacher") {
                            let r = this.$router.resolve({name: 'StudentProfile'});
                            window.location.assign(r.href)
                        }else {
                            this.$alert(this.$t('no_teacher_account_msg'), '', {
                                confirmButtonText: 'OK',
                            }).then(() => {
                                this.$store.dispatch('logout')
                            });
                            //this.errorMessage = "No teacher account with this email please verify.";
                        }
                            /* this.$router.push({name: 'TeacherProfile'}) :
                            (res.data.user.roles[0].name === "student") ?
                                this.$router.push({name: 'StudentProfile'}) : this.$router.push({name: 'Admin'}); */
                    })
                    .catch(err => {
                        console.log(err.response.data);
                        this.errorMessage = err.response.data.message
                        /* this.errorMessage = err.response.data.message
                        err.response.data.message === "email unverified" ? this.$router.push({name: 'Email'}) :
                            this.errorMessage = "Please verify your Email address or password and try again"; */
                    })
            },
            // loginGithub() {
            //     this.$store.dispatch('socialStudentAuth', "google")
            //         .then((res) => {
            //             console.log(res);
            //             if (res.data.url) {
            //                 console.log(res.data.url);
            //                 window.location.href = res.data.url
            //             }
            //         })
            //         .catch(err => console.log(err))
            // },
            authLogin(provider) {
                this.$store.dispatch('socialTeacherAuth', provider)
                    .then(res => {
                        if (res.data.url) {
                            let r = this.$router.resolve({name: 'StudentProfile'});
                            window.location.assign(r.href)
                        }
                    })
                    .catch(err => console.log(err))
            },
            ongSignInSuccess (googleUser) {
                const profile = googleUser.getBasicProfile() // etc etc
                console.log(profile.getEmail());
                let payload = {
                    'name': profile.getName(),
                    'email': profile.getEmail(),
                    'role': 'teacher'
                };
                this.handleSocial(payload);
            },
            ongSignInError (error) {
                this.loginErrors = "Error occured durring facebook login."
                console.log('OH NOES', error)
            },
            onSignInSuccess (response) {
                const _this = this;

                FB.api('/me?fields=email,name', dude => {
                    let payload = {
                        'name': dude.name,
                        'email': dude.email,
                        'role': 'teacher'
                    };
                    _this.handleSocial(payload);
                })
            },
            onSignInError (error) {
                this.loginErrors = "Error occured durring facebook login."
                console.log('OH NOES', error)
            },
            handleSocial(payload) {
                this.$store.dispatch('handleTeacherSocial', payload)
                .then(res => {
                    if (res.data != null) {
                        let r = this.$router.resolve({name: 'TeacherProfile'});
                        window.location.assign(r.href)
                    }
                })
                .catch(err => console.log(err))
            },
            handlePIP(e) {
                this.isPip = e;
            },
            handlePipOpenFailure(err) {
                console.log('Video failed to enter Picture-in-Picture mode.', err);
            },
            handlePipExitFailure(err) {
                console.log('Video failed to leave Picture-in-Picture mode.', err);
            },
        },
        computed: {
            ...mapGetters(["authLoading"]),
        }
    }
</script>

<style scoped>
    .hero {
        /*background-image: url('../../assets/images/demand/online.jpg');*/
        background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('../../assets/images/auth/Become1.jpg') no-repeat center center;
        height: 60vh;
        background-size: cover;
        border-bottom: 15px solid #3081FB;
        color: white;
    }

    .signup-form {
        margin: 0 auto;
        margin-bottom: 15px;
        background: #ffffff;
        border: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 5%;
        padding: 8px;
        width: 100%;
    }

    .signup-form h2 {
        color: #636363;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
    }

    .signup-form h2:before, .signup-form h2:after {
        content: "";
        height: 2px;
        width: 30%;
        background: #000;
        position: absolute;
        top: 50%;
        z-index: 2;
    }

    .signup-form h2:before {
        left: 0;
    }

    .signup-form h2:after {
        right: 0;
    }

    .signup-form .hint-text {
        color: #000;
        margin-bottom: 30px;
        text-align: center;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        min-width: 140px;
        outline: none !important;
    }

    .signup-form .row div:first-child {
        padding-right: 10px;
    }


    .signup-form a:hover {
        text-decoration: none;
    }


    .signup-form form a:hover {
        text-decoration: underline;
    }

    .btn-google {
        color: white;
        background-color: #ea4335
    }

    .btn-github {
        color: white;
        background: #4267B2;
    }

    .btn-github a {
        color: white;
    }

    .btn-google a {
        color: white;
    }

    .md-form.md-outline label.active {
        background: #eeeeef;
    }

    input {
        border: 2px solid black !important;
        background: transparent;
    }

    .input-group-text {
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0px;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
        white-space: nowrap;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        margin-left: -40px;
        z-index: 1;
    }

    .text-home-slogan {
        display: none;
    }

    .why-us-section {
        background-color: #ffffff;
        padding: 5px;
        width: 100%;
    }

    .why-us-instaclass {
        background-color: rgb(35, 35, 104);
        padding: 10px;
        color:#fff;
    }

    .why-us-instaclass-img {
        background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('../../assets/images/all1.jpg');
        height: 60vh;
        width: 100%;
        background-size: cover;
    }

    .why-us-google {
        background-color: rgb(35, 35, 104);
        padding: 10px;
        color:#fff;
    }

    .why-us-google-img {
        background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('../../assets/images/become-instructor-header.jpg');
        height: 60vh;
        width: 100%;
        background-size: cover;
    }

    .red-dot {
        height: 15px;
        width: 15px;
        background-color: rgba(211, 7, 7, 0.863);
        border-radius: 50%;
        display: inline-block;
    }

    .how-section {
        padding: 10px;
    }

    .step1 {
        font-family: 'Helvetica';
        font-size: 55px;
        font-weight: bold;  
        color:rgb(35, 35, 104);
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .text-header {
        font-family: 'Helvetica';
        font-size: 30px;
        font-weight: bold;
    }
    .text-header-title {
        font-family: 'Helvetica';
        font-size: 30px;
        font-weight: bold;
        color:rgb(35, 35, 104);
    }
    .text-header-2 {
        font-family: 'Helvetica';
        font-size: 20px;
        font-weight: bold;
    }

    .text-header-body {
        font-family: 'Helvetica';
        font-size: 18px;
    }
    .text-header-body-2 {
        font-family: 'Helvetica';
        font-size: 14px;
    }

    @media (min-width: 700px) {
        .signup-form {
            margin: 0 auto;
            margin-bottom: 15px;
            background: #ffffff;
            border: 2px solid black;
            border-bottom: 2px solid black;
            border-radius: 5%;
            padding: 20px;
            width: 45%;
        }

        .why-us-section {
            background-color: #ffffff;
            padding: 50px;
            width: 100%;
        }

        .text-header {
            font-family: 'Helvetica';
            font-size: 35px;
            font-weight: bold;
        }
        .text-header-title {
            font-family: 'Helvetica';
            font-size: 35px;
            font-weight: bold;
            color:rgb(35, 35, 104);
        }

        .text-header-body {
            font-family: 'Helvetica';
            font-size:20px;
        }

        .why-us-instaclass {
            background-color: rgb(35, 35, 104);
            padding: 50px;
            color:#fff;
        }

        .text-home-slogan {
            display: block;
            float: right;
            margin-top: 100px;
            margin-left: 30px;
            font-weight: 600;
        }

        .hero {
            /*background-image: url('../../assets/images/demand/online.jpg');*/
            background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url('../../assets/images/auth/Become1.jpg') no-repeat center center;
            height: 30vh;
            background-size: cover;
            border-bottom: 15px solid #3081FB;
            color: white;
        }

        .how-section {
            padding: 50px;
        }

        .why-us-google {
            background-color: rgb(35, 35, 104);
            padding: 50px;
            color:#fff;
        }


    }
</style>
